<ng-snotify></ng-snotify>

<main>
	<router-outlet></router-outlet>
</main>

<footer>
	<section class="contatos">
		<div class="container">
			<div class="row">
				<div class="offset-xl-2 col-xl-8 text-center">
					<h2 class="titulo">Precisa de ajuda? Não perca tempo <br>e fale conosco </h2>
					<p class="description">
						Estamos sempre preparados para atendê-lo, entre em contato conosco e tire suas dúvidas.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-12 col-md-12">
					<div class="row">
						<div class="col-xl-12 col-lg-3 col-md-12 col-sm-12 col-12 txt-contatos">
							<i class="fas fa-phone"></i>
							<p class="contatos links-uteis">
								<b>Sac:</b> (47) 3278-1255 <br>
                <b>Contato:</b> (47) 99117-4087 <br>
                <b>Comercial:</b> (47) 98434-1728
							</p>
						</div>
						<div class="col-xl-12 col-lg-4 col-md-12 col-sm-12 col-12 txt-contatos">
							<i class="fas fa-envelope"></i>
							<p class="contatos">
								contato@certifis.com.br <br>
								atendimento@certifis.com.br
							</p>
						</div>
						<div class="col-xl-12 col-lg-5 col-md-12 col-sm-12 col-12 txt-contatos">
							<i class="fas fa-map-marker-alt"></i>
							<p class="contatos">
								Rua Sérgio Bittencourt, nº 56<br>Comasa, 89.228-360, Joinville -SC
							</p>
						</div>
						<div class="col-xl-12 col-lg-5 col-md-12 col-sm-12 col-12 txt-contatos">
							<i class="fas fa-link"></i>
							<p class="contatos links-uteis">
								<a href="https://cav.receita.fazenda.gov.br/eCAC/publico/login.aspx" target="_blank">Portal e-CAC</a> <br>
								<a href="https://idg.receita.fazenda.gov.br/" target="_blank">Receita Federal</a> <br>
								<a href="https://www.gov.br/iti/pt-br" target="_blank">ITI</a> <br>
								<a href="https://www.gov.br/iti/pt-br" target="_blank">ICP Brasil</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-xl-8 col-lg-12 col-md-12">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1788.7784741956984!2d-48.80718694461368!3d-26.27603908644752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1545059856562" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</section>
	<section class="copyright">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<p>
						Todos os direitos reservados Certifis Certificadora Digital - <a href="https://www.facebook.com/taiuantecnologia" title="Acesse nosso site e seja um cliente" target="_blank">Made in Taiuan</a>
					</p>
				</div>
			</div>
		</div>
	</section>
</footer>
