<div class="loaders">
  <div class="loader">
    <div id="certifis"></div>
    <span class="text-center txt-loader">Carregando</span>
  </div>
</div>
<app-header></app-header>

<section class="interna">
  <section class="banner-interna">
    <div class="container">
      <div class="banner-text">
        <h4>Institucional</h4>
        <h5>Conheça a história da nossa empresa.</h5>
      </div>
    </div>
  </section>

  <section class="description-interna">
    <div class="container">
      <div class="contact-details-inner">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="contact-text">
              <div class="main-title border-bottom">
                <h2>Nossa História</h2>
                <p>
                  A CERTIFIS Certificação Digital começou em 2014 com a ideia de
                  fazer a diferença na área, atender melhor a necessidade de
                  pessoa física e jurídica, começou como um canal credenciado e
                  tínhamos o sonho de tornar esse canal em uma Autoridade de
                  Registro – AR para poder ser mais competitivo no mercado com
                  melhores preços. Em 2016 tivemos uma proposta de fusão muito
                  boa financeiramente falando com uma certificadora já
                  consolidada no mercado, porém nosso foco e objetivo com a
                  Certificação Digital nunca foi e nunca será financeiro e sim a
                  satisfação dos nossos clientes e parceiros, pois queremos
                  construir um legado alicerçado de ética, honestidade,
                  profissionalismo e amizade, pois o dinheiro vai e vem, mas a
                  nossa história será marcada para sempre através da confiança
                  que nos é depositada a cada novo cliente e parceiro que nos
                  procura buscando uma resposta rápida para a sua necessidade.
                  Em 31 de outubro de 2018, foi protocolado nosso processo de
                  credenciamento AR junto ao ITI e já em novembro de 2018,
                  obtivemos o deferimento do nosso processo de Autoridade de
                  Registro, realizando assim o nosso sonho. <br /><br />
                  Diante dessa realização, estamos prontos para o mercado de
                  Certificação Digital, tendo em vista que, que a maior parte da
                  concorrência exige o agendamento com bastante antecedência
                  para poder atender o cliente, então nós preparamos nossa
                  estrutura e uma equipe atenciosa e pronta, para que o cliente
                  possa chegar até o nosso escritório e ser atendido de
                  imediato. Nós temos os melhores profissionais treinados e
                  capacitados. Nós garantimos a satisfação do cliente,
                  acompanhando sempre o que há de novidade na Certificação
                  Digital, para garantir a segurança e integridade dos nossos
                  clientes e parceiros. E pensando sempre no melhor para nossos
                  clientes, estamos diariamente, buscando cada vez mais a
                  inovação e a expansão do nosso atendimento para que tenha um
                  ponto CERTIFIS mais perto de você, nosso amigo, cliente e
                  parceiro pra fazer o seu Certificado Digital com facilidade e
                  agilidade!
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="contact-text">
              <div class="main-title border-bottom">
                <h2>Missão</h2>
                <p>
                  Fazer com que nosso cliente e parceiro tenha a certeza e
                  garantia da qualidade do nosso serviço de Certificação
                  Digital, proporcionar agilidade e conforto em nossa empresa.
                </p>
              </div>
            </div>
            <div class="contact-text">
              <div class="main-title border-bottom">
                <h2>Visão</h2>
                <p>
                  Estar presente em todos os estados brasileiros e ser
                  reconhecida pela excelência no atendimento e satisfação do
                  cliente e parceiro.
                </p>
              </div>
            </div>
            <div class="contact-text">
              <div class="main-title">
                <h2>Valores</h2>
                <p>
                  Ética, segurança, responsabilidade e amor no serviço realizado
                  por toda nossa equipe, sempre respeitando e garantindo a
                  integridade de nossos clientes, pois o resultado financeiro é
                  apenas uma consequência do excelente serviço prestado.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
