<div class="loaders">
  <div class="loader">
    <div id="certifis"></div>
    <span class="text-center txt-loader">Carregando</span>
  </div>
</div>
<app-header></app-header>
<section class="banner">
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- BANNER -->
        <div class="tp-banner-container">
          <div class="tp-banner">
            <ul>
              <!-- SLIDE  -->
              <li
                data-transition="fade"
                data-slotamount="7"
                data-masterspeed="1500"
              >
                <!-- MAIN IMAGE -->

                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption large_bold_grey skewfromrightshort customout primeira-linha"
                  data-x="0"
                  data-y="120"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="500"
                  data-start="800"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 4;"
                >
                  Tenha o Certificado A1 E-CNPJ Para Sua Empresa
                </div>

                <!-- LAYER NR. 6 -->
                <div
                  class="tp-caption large_bold_grey skewfromleftshort customout segunda-linha"
                  data-x="0"
                  data-y="365"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="300"
                  data-start="1100"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 7;"
                >
                  O certificado A1 E-CNPJ tem o melhor custo benefício para sua
                  empresa, custa a partir de R$ 195,00 e com ele você pode
                  começar a emitir NF-e automaticamente.
                </div>

                <!-- LAYER NR. 6 -->
                <div
                  class="tp-caption large_bold_grey skewfromleftshort customout botao"
                  data-x="0"
                  data-y="530"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="300"
                  data-start="1100"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 7;"
                >
                  <a routerLink="/solucoes/e-cnpj">Conhecer o Certificado</a>
                </div>

                <!-- LAYER NR. 11 -->
                <div
                  class="tp-caption medium_bold_red customout banner-principal"
                  data-x="815"
                  data-y="170"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="500"
                  data-start="1300"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 12;"
                >
                <img src="assets/images/selo.png" width="250" alt="" />
                </div>
              </li>

              <li
                data-transition="fade"
                data-slotamount="7"
                data-masterspeed="1500"
              >
                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption large_bold_grey skewfromrightshort customout primeira-linha"
                  data-x="0"
                  data-y="120"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="500"
                  data-start="800"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 4;"
                >
                  Tenha o Certificado A3 E-CNPJ Para Sua Empresa
                </div>

                <!-- LAYER NR. 6 -->
                <div
                  class="tp-caption large_bold_grey skewfromleftshort customout segunda-linha"
                  data-x="0"
                  data-y="365"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="300"
                  data-start="1100"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 7;"
                >
                  O certificado A3 E-CNPJ tem o melhor custo benefício para sua
                  empresa, custa a partir de R$ 235,00 e com ele você pode
                  começar a emitir NF-e automaticamente.
                </div>

                <!-- LAYER NR. 6 -->
                <div
                  class="tp-caption large_bold_grey skewfromleftshort customout botao"
                  data-x="0"
                  data-y="530"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="300"
                  data-start="1100"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 7;"
                >
                  <a routerLink="/solucoes/e-cnpj">Conhecer o Certificado</a>
                </div>

                <!-- LAYER NR. 11 -->
                <div
                  class="tp-caption medium_bold_red customout banner-principal"
                  data-x="815"
                  data-y="170"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="500"
                  data-start="1300"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 12;"
                >
                  <img src="assets/images/selo.png" width="250" alt="" />
                </div>
              </li>

              <li
                data-transition="fade"
                data-slotamount="7"
                data-masterspeed="1500"
              >
                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption large_bold_grey skewfromrightshort customout primeira-linha"
                  data-x="0"
                  data-y="120"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="500"
                  data-start="800"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 4;"
                >
                  Tenha o Certificado A1 E-CPF Para Você
                </div>

                <!-- LAYER NR. 6 -->
                <div
                  class="tp-caption large_bold_grey skewfromleftshort customout segunda-linha"
                  data-x="0"
                  data-y="365"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="300"
                  data-start="1100"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 7;"
                >
                  O certificado A1 E-CPF tem o melhor custo benefício para você,
                  custa a partir de R$ 135,00.
                </div>

                <!-- LAYER NR. 6 -->
                <div
                  class="tp-caption large_bold_grey skewfromleftshort customout botao"
                  data-x="0"
                  data-y="530"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="300"
                  data-start="1100"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 7;"
                >
                  <a routerLink="/solucoes/e-cpf">Conhecer o Certificado</a>
                </div>

                <!-- LAYER NR. 11 -->
                <div
                  class="tp-caption medium_bold_red customout banner-principal"
                  data-x="815"
                  data-y="170"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="500"
                  data-start="1300"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 12;"
                >
                  <img src="assets/images/selo.png" width="250" alt="" />
                </div>
              </li>

              <li
                data-transition="fade"
                data-slotamount="7"
                data-masterspeed="1500"
              >
                <!-- LAYER NR. 3 -->
                <div
                  class="tp-caption large_bold_grey skewfromrightshort customout primeira-linha"
                  data-x="0"
                  data-y="120"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="500"
                  data-start="800"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 4;"
                >
                  Tenha o Certificado A3 E-CPF Para Você
                </div>

                <!-- LAYER NR. 6 -->
                <div
                  class="tp-caption large_bold_grey skewfromleftshort customout segunda-linha"
                  data-x="0"
                  data-y="365"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="300"
                  data-start="1100"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 7;"
                >
                  O certificado A3 E-CPF tem o melhor custo benefício para você,
                  custa a partir de R$ 175,00.
                </div>

                <!-- LAYER NR. 6 -->
                <div
                  class="tp-caption large_bold_grey skewfromleftshort customout botao"
                  data-x="0"
                  data-y="530"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="300"
                  data-start="1100"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 7;"
                >
                  <a routerLink="/solucoes/e-cpf">Conhecer o Certificado</a>
                </div>

                <!-- LAYER NR. 11 -->
                <div
                  class="tp-caption medium_bold_red customout banner-principal"
                  data-x="815"
                  data-y="170"
                  data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                  data-speed="500"
                  data-start="1300"
                  data-easing="Back.easeOut"
                  data-endspeed="500"
                  data-endeasing="Power4.easeIn"
                  data-captionhidden="on"
                  style="z-index: 12;"
                >
                  <img src="assets/images/selo.png" width="250" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end banner -->
  </div>
</section>
<!-- end section banner -->
<section class="sobre">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <h3 class="subtitulo">Sobre</h3>
        <h2 class="titulo">Conheça a Certifis</h2>
        <p class="description">
          A CERTIFIS Certificação Digital começou em 2014 com a ideia de fazer a
          diferença na área, atender melhor a necessidade de pessoa física e
          jurídica, começou como um canal credenciado e tínhamos o sonho de
          tornar esse canal em uma Autoridade de Registro – AR para poder ser
          mais competitivo no mercado com melhores preços.
        </p>
        <ul class="lista">
          <li>Empresa consolidada no mercado.</li>
          <li>Preços acessíveis para todos.</li>
          <li>Atendimento diferenciado</li>
        </ul>
        <a routerLink="/empresa" class="btn-ver-mais">Saiba Mais</a>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <img
          src="assets/images/img-sobre.png"
          class="img-fluid"
          alt="sobre a certifis"
        />
      </div>
    </div>
  </div>
</section>
<!-- end section sobre -->
<section class="newsletter">
  <div class="container bg-news">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <h2 class="titulo">Receba Nossa Newsletter</h2>
            <p>Cadastre seu e-mail e fique por dentro de nossas novidades.</p>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <form
              #form="ngForm"
              (ngSubmit)="form.valid && enviarEmail(form)"
              class="form-inline"
            >
              <input type="hidden" name="Assunto" [(ngModel)]="model.Assunto" />
              <input
                type="text"
                name="Nome"
                placeholder="Nome"
                minlength="4"
                required
                [(ngModel)]="model.Nome"
                #Nome="ngModel"
                [ngClass]="{ 'is-invalid': form.submitted && Nome.invalid }"
                class="form-control mr-4"
              />
              <input
                type="email"
                name="Email"
                placeholder="E-mail "
                required
                [(ngModel)]="model.Email"
                #Email="ngModel"
                [ngClass]="{ 'is-invalid': form.submitted && Email.invalid }"
                class="form-control"
              />
              <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section newsletter -->
<section class="solucoes">
  <div class="container">
    <div class="row">
      <div
        class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 text-center"
      >
        <h2 class="titulo">Conheça Nossas Principais <br />Soluções</h2>
        <p class="description">
          Nossa empresa conta com todos os tipos de soluções para atender a
          qualquer público, preços acessíveis e atendimento é o nosso
          diferencial.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 my-auto mx-auto">
        <img
          src="assets/images/img-solucoes.jpg"
          class="img-fluid"
          alt="nossas soluções"
        />
      </div>
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
        <div class="row">
          <div
            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 solucao"
            *ngFor="let midias of arSolucoes"
          >
            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-3">
                <i [class]="midias.icone"></i>
              </div>
              <div class="col-xl-10 col-lg-10 col-md-9 col-sm-9 col-9">
                <h2 class="titulo-solucoes">{{ midias.titulo }}</h2>
                <span class="description-solucoes">
                  {{ midias.descricao }}
                </span>
                <a [routerLink]="midias.link"
                  ><span class="btn-solucoes"
                    >Ver mais <i class="fas fa-arrow-right"></i></span
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <a routerLink="/solucoes" class="btn-ver-mais mx-auto"
        >Conheça Todas Nossas Soluções</a
      >
    </div>
  </div>
</section>
<!-- end section soluções -->
<section class="fornecedores">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="titulo">Fornecedor</h2>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col mx-auto" *ngFor="let parceiro of arParceiros">
        <img [src]="parceiro.url" class="img-fluid" [alt]="parceiro.alt">
      </div> -->
      <div class="col-lg-6 mx-auto">
        <owl-carousel
          [options]="sliderOptionsForn"
          [carouselClasses]="['owl-theme', 'row', 'sliding']"
        >
          <div class="item" *ngFor="let fornecedor of arFornecedores">
            <a [href]="fornecedor.link" target="_blank">
              <img
                [src]="fornecedor.img"
                class="img-fluid"
                [alt]="fornecedor.alt"
              />
            </a>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>
<!-- end section fornecedor -->
<section class="parceiros">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2 class="titulo">Parceiros Certifis</h2>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col mx-auto" *ngFor="let parceiro of arParceiros">
        <img [src]="parceiro.url" class="img-fluid" [alt]="parceiro.alt">
      </div> -->
      <div class="col">
        <owl-carousel
          [options]="sliderOptions"
          [carouselClasses]="['owl-theme', 'row', 'sliding']"
        >
          <div class="item" *ngFor="let parceiro of arParceiros">
            <a [href]="parceiro.link">
              <img
                [src]="parceiro.img"
                class="img-fluid"
                [alt]="parceiro.alt"
              />
            </a>
          </div>
        </owl-carousel>
      </div>
    </div>
    <div class="row">
      <a routerLink="/contato" class="btn-ver-mais btn-parceiro mx-auto"
        >Seja um parceiro</a
      >
    </div>
  </div>
</section>
<!-- end section parceiros -->
