<div class="loaders">
  <div class="loader">
    <div id="certifis"></div>
    <span class="text-center txt-loader">Carregando</span>
  </div>
</div>
<app-header></app-header>
<section class="interna solucoes">
  <section class="banner-interna">
    <div class="container">
      <div class="banner-text">
        <h4>Soluções</h4>
        <h5>Temos soluções para todos os tipos de empresas.</h5>
      </div>
    </div>
  </section>

  <section class="description-interna description-certificado">
    <div class="container">
      <div class="contact-details-inner">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-xs-3 col-3 certificado certificado-individual text-center" routerLink="/solucoes/e-cpf">
            Soluções e-CPF
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-xs-4 col-4 offset-1 certificado certificado-individual text-center" routerLink="/solucoes/e-cnpj">
            Soluções e-CNPJ
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-xs-3 col-3 offset-1 certificado certificado-individual text-center" routerLink="/solucoes/midias-hardware">
            Mídias / Hardware
          </div>
        </div>
      </div>
    </div>
  </section>
</section>